@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.font {
        font-family: 'Dancing Script', cursive;
}
.font2 {
        font-size: 26px;
}
.font3 {
        font-size: 42px;
}
.fondo {
    background-image: url(../imagenes/brillo.jpg);
    background-size: cover;
}
.fondo2 {
    background-color:blueviolet;
}
.titulo {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    
}
.tituloser {
        text-align: center;
        border-radius: 20px;
}
.text-shadow {
        text-shadow: 2px 2px 5px rgb(227, 25, 245);
}   
.img2 {
        width: 250px;
        height: 250px;
}
 


.lista {
    list-style: none;
    font-size: 0;
    pad: 0;
}
nav ul li {
   display: inline-block;
   width: 20%;
  
   
}
nav a {
        
  font-size: 20px;
  text-align: center;
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  
}

.hover1:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;

        
}
aside:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;
}

.iconos img {
        width: 50px;
        height: 50px;
}
.radius100 {
        border-radius: 100px;
}

    
.centrar {
        text-align: center;
}
.padding {
        padding: 40px;
}
.padding2 {
        padding: 20px;
        }
.margin {
        margin: 40px;
}
.margin10 {
        margin: 10px;
}

.margind {
        margin:auto;
        width: 100%;
        justify-content: space-around;
}
.marginbottom {
        margin-bottom: 10px;
}
.borde {border: solid 2px blueviolet;}
.derecha {
        text-align: right;
}
article img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
}
footer {
        margin-top: 20px;
        text-align: center;
}

.flex {
        
        margin: 20px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 100%;
}
.flexc {
        display: flex;
        flex-direction: column;
}
.flexwrap {
        flex-wrap: wrap;
}
.flexp {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.justi {
        justify-items: center;
}
.boton {
       background-color: blueviolet;
       border: solid 1px;
       color: black;
       border-radius: 10px;
}
.contenedorc1 {
        width: 100%;
        height: 100px;
        text-align: center;
}
.contenedorc2 {
        width: 350px;
        height: 300px;
}
.paddingc li {
        padding: 10px;
        
}
.width600 {
        width: 600px;
}
.width100 {
        width: 100%;
}
.widthauto {
        width: auto;
}
.heightauto {
        height: auto;
}
.height100 {
        height: 100%
}

div img{
        border-radius: 10px;
        width: 150px;
        height: 134px;

}
.grid-container { display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 32px;
       }
.grid-conteiner2 {
        display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;;
}
.divgrid {
        grid-area: 1 / 4 / span 2 / span 6;
}
.maingrid {
        grid-area: 7 / 4 / span 4 / span 6;
}
.artigrid { 
        grid-area: 4 / 4 / span 2 / span 6;
}
.boton1 {
        border-radius: 30px;
        background-color: blueviolet;
        color: black;
        border: solid 1px;
}
    
video { width:640px;
        height: 480px;}
       

@media (max-width: 769px) {
        .flex{
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 5px 5px;
        }
video{
        width: 430px;
        height: 320px;}

        .titulomedia{
                font-size: 60px;
}
.divgrid {
        grid-area: 1 / 3 / span 1 / span 7;
}
.maingrid {
        grid-area: 7 / 4 / span 4 / span 6;
}
.artigrid { 
        grid-area: 4 / 4 / span 2 / span 6;
}
}



@media (max-width: 375px) {
        .titulomedia{
                font-size: 40px;
        }
} video {
        width: 300px;
        ;}