 /* fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.font {
       font-family: 'Dancing Script', cursive;
}
.font2 {
       font-size: 20px;
}
.font3 {
       font-size: 36px;
}
.textoblanco { color: white;
        text-shadow: 2px 2px  rgb(0, 0, 0);
}
.textoclaro {
        color: white;
        text-shadow: 5px 5px  rgb(0, 0, 0);
}
/*fondos*/
.fondo {
       background-image: url(../imagenes/brillo.jpg);
       background-size: cover;
}
.fondo2 {
       background-color:blueviolet;
}
/*textos*/
.titulo {
       text-align: center;
       font-size: 100px;
       margin-top: 100px;    
}
.tituloser {
       text-align: center;
       border-radius: 20px;
}
.text-shadow {
       text-shadow: 2px 2px 5px rgb(227, 25, 245);
}  
/*selectores*/ 
video { width:640px;
        height: 480px;}
nav ul li {
       display: inline-block;
       width: 20%;
}
nav a {
       font-size: 20px;
       text-align: center;
       display: block;
       color: white;
       padding: 10px;
       text-decoration: none;
       font-family: sans-serif;
       position: relative;
}
div img{
        border-radius: 10px;
        width: 150px;
        height: 134px;
}
aside:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;
}
.hover1:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;
        text-shadow: none;
} 
/*formas y tamaños*/
.radius100 {
        border-radius: 100px;
}
.centrar {
        text-align: center;
}
.padding2 {
        padding: 20px;
}
.margin10 {
        margin: 10px;
}
.margind {
        margin:auto;
        width: 100%;
        justify-content: space-around;
}
.marginbottom {
        margin-bottom: 10px;
}
.borde {
         border: solid 2px blueviolet;
}
.bordeblanco {
        border-color: white;
}
article img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
}
.flex {
        margin: 20px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 100%;
}
.flexp {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.boton {
        background-color: blueviolet;
        border: solid 1px;
        color: black;
        border-radius: 10px;
}
.boton1 {
        border-radius: 30px;
        background-color: blueviolet;
        color: black;
        border: solid 1px;
}
.width100{ 
        width: 100%;
}
.widthnos {
        width: 360px;
        height: 360px;
}
.widthicon {
        width: 30px;
}
.width600 {
        width: 600px;
}
.width150 {
        width: 150px;
        height: 150px;
}
.widthauto {
        width: auto;
}
.heightauto {
        height: auto;
}
/*grid*/
.grid-conteiner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "parrafo parrafo parrafo parrafo"
        "subt subt formulario formulario"
        "subt subt formulario formulario"
        "subt subt formulario formulario"
        ;
}
.gridi1 { grid-area: subt;}
.gridi2 { grid-area: parrafo;}
.gridi3 { grid-area: formulario;}

/*MediaQueries*/
@media (max-width: 769px) {
        .flex{
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 5px 5px;
}
        .width600{
                width: 450px;
                margin-top: 10px;
}
        video{
        width: 430px;
        height: 320px;
}
        .titulo{
                font-size: 60px;
} 
        .grid-conteiner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "parrafo parrafo parrafo parrafo"
        "subt subt subt subt"
        "formulario formulario formulario formulario"
        "formulario formulario formulario formulario";
}   
}
@media (max-width: 375px) {
        .titulo{
        font-size: 40px;
        }
        .widthnos {
                width: 300px;
}
.width150{
        width: 100px;
        height: 100px;
}
.width600{
        width: 300px;
}
 video {
        width: 280px;
}
/*footer*/
footer {
        margin-top: 20px;
        text-align: center;
}
}