/* fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.font {
       font-family: 'Dancing Script', cursive;
}
.font2 {
       font-size: 26px;
}
.font3 {
       font-size: 42px;
}
/*fondos*/
.fondo {
       background-image: url(../imagenes/brillo.jpg);
       background-size: cover;
}
.fondo2 {
       background-color:blueviolet;
}
/*textos*/
.titulo {
       text-align: center;
       font-size: 100px;
       margin-top: 100px;    
}
.tituloser {
       text-align: center;
       border-radius: 20px;
}
.text-shadow {
       text-shadow: 2px 2px 5px rgb(227, 25, 245);
}  
/*selectores*/ 
video { width:640px;
        height: 480px;}
nav ul li {
       display: inline-block;
       width: 20%;
}
nav a {
       font-size: 20px;
       text-align: center;
       display: block;
       color: black;
       padding: 10px;
       text-decoration: none;
       font-family: sans-serif;
       position: relative;
}
div img{
        border-radius: 10px;
        width: 150px;
        height: 134px;
}
aside:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;
}
.hover1:hover {
        background-color: blueviolet;
        border-radius: 2rem;
        border: solid 1px;
        border-color: black;
}
/*formas y tamaños*/
.radius100 {
        border-radius: 100px;
}
.centrar {
        text-align: center;
}
.padding2 {
        padding: 20px;
}
.margin10 {
        margin: 10px;
}
.margind {
        margin:auto;
        width: 100%;
        justify-content: space-around;
}
.marginbottom {
        margin-bottom: 10px;
}
.borde {
         border: solid 2px blueviolet;
}

article img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
}
.flex {
        margin: 20px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 100%;
}
.flexp {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.boton {
        background-color: blueviolet;
        border: solid 1px;
        color: black;
        border-radius: 10px;
}
.boton1 {
        border-radius: 30px;
        background-color: blueviolet;
        color: black;
        border: solid 1px;
}
.width600 {
        width: 600px;
}
.widthauto {
        width: auto;
}
.heightauto {
        height: auto;
}
/*grid*/
.grid-conteiner2 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        height: 100vh;
}
.divgrid {
        grid-area: 2 / 4 / span 1 / span 6;
}
.maingrid {
        grid-area: 7 / 4 / span 4 / span 6;
}
.artigrid { 
        grid-area: 4 / 4 / span 2 / span 6;
}
/*MediaQueries*/
@media (max-width: 769px) {
        .flex{
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 5px 5px;
        }
video{
        width: 430px;
        height: 320px;}

        .titulomedia{
                font-size: 60px;
}
        .divgrid {
        grid-area: 1 / 2 / span 1 / span 10;
        font-size: 24px;
}
        .maingrid {
        grid-area: 7 / 4 / span 4 / span 6;
        font-size: 20px;
}
        .artigrid { 
        grid-area: 4 / 4 / span 2 / span 6;
        font-size: 16px;
}
}
@media (max-width: 375px) {
        .titulomedia{
        font-size: 40px;
        }
} video {
        width: 280px;
}
/*footer*/
footer {
        margin-top: 20px;
        text-align: center;
}
