$colorprimario: blueviolet;
$colorsecundario: white;
$colornegro: black;
.fondo {
    background-image: url(../imagenes/brillo.jpg);
    background-size: cover;
}
.fondo2 {
    background-color:$colorprimario;
}
.fondo3 {
    background-color: $colorprimario;
    border-radius: 30px;
    border: solid 3px;
    border-color: $colornegro;
}
video { width:640px;
    height: 480px;}
nav {
    ul{
        li{
   display: inline-block;
   width: 20%;
}}}
nav{
     a {
   font-size: 20px;
   text-align: center;
   display: block;
   color:$colorsecundario;
   padding: 10px;
   text-decoration: none;
   font-family: sans-serif;
   position: relative;
}}
div {
    img{
    border-radius: 10px;
    width: 150px;
    height: 134px;
}}
aside { transition: background-color 2s, font-size 3s;
    &:hover {
    background-color:$colorprimario;
    border-radius: 2rem;
    border: solid 1px;
    border-color:$colornegro;
    text-shadow: $colorsecundario;
    font-size: 24px;
}}
.hover1{
    &:hover {
    background-color:$colorprimario;
    border-radius: 2rem;
    border: solid 1px;
    border-color: $colornegro;
    text-shadow: none;
}}
article{
     img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}}