.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "parrafo parrafo parrafo parrafo"
    "subt subt formulario formulario"
    "subt subt formulario formulario";
}
.gridi1 { grid-area: subt;}
.gridi2 { grid-area: parrafo;}
.gridi3 { grid-area: formulario;}