@media (max-width: 769px) {
    .flex{
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 5px 5px;
}
    .width600{
            width: 450px;
            margin-top: 10px;
}
    .video{
    width: 430px;
    height: 320px;
}
    .titulo{
            font-size: 60px;
} 
    .grid-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "parrafo parrafo parrafo parrafo"
    "subt subt subt subt"
    "formulario formulario formulario formulario";
}
.logo{
    width: 140px;
    height: 140px;
}   
}
@media (max-width: 375px) {
    .titulo{
    font-size: 40px;
    }
    .widthnos {
            width: 300px;
            height: 300px;
}
.width150{
    width: 100px;
    height: 100px;
}
.width600{
    width: 300px;
    height: 300px;
}
.video {
    width: 322.5px;
    height: 240px;
}
/*footer*/
footer {
    margin-top: 20px;
    text-align: center;
}
.logo{
    width: 70px;
    height: 70px;
} 
.flexhead {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
}