$colorprimario:blueviolet ;
$colorsecundario: white;
$colorsombra: #e319f5;
$colornegro: black;
.titulo {
    text-align: center;
    font-size: 100px;
    margin: 20px;  
}
.tituloser {
    text-align: center;
    border-radius: 20px;
}
.text-shadow {
    color: $colorsecundario;
    text-shadow: 2px 2px 5px $colorsombra
}  
.textoblanco { color:$colorsecundario;
    text-shadow: 2px 2px  $colornegro
}
.textoclaro {
    color: $colorsecundario;
    text-shadow: 5px 5px $colornegro
}